<div>
    <h2 id="page-heading">
        <span jhiTranslate="quanlyWareHouseApp.detailBillExport.home.title">Detail Bill Exports</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-detail-bill-export" [routerLink]="['/detail-bill-export/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="quanlyWareHouseApp.detailBillExport.home.createLabel">
            Create a new Detail Bill Export
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="detailBillExports?.length === 0">
        <span jhiTranslate="quanlyWareHouseApp.detailBillExport.home.notFound">No detailBillExports found</span>
    </div>
    <div class="table-responsive" *ngIf="detailBillExports?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="quanlyWareHouseApp.detailBillExport.amount">Amount</span></th>
            <th scope="col" ><span jhiTranslate="quanlyWareHouseApp.detailBillExport.billExport">Bill Export</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detailBillExport of detailBillExports ;trackBy: trackId">
                <td><a [routerLink]="['/detail-bill-export', detailBillExport.id, 'view' ]">{{detailBillExport.id}}</a></td>
                <td>{{detailBillExport.amount}}</td>
                <td>
                    <div *ngIf="detailBillExport.billExport">
                        <a [routerLink]="['/bill-export', detailBillExport.billExport?.id, 'view' ]" >{{detailBillExport.billExport?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/detail-bill-export', detailBillExport.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/detail-bill-export', detailBillExport.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(detailBillExport)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
